[submodule "pkg/tag"]
	path = pkg/tag
	url = https://github.com/hanxi/tag.git
[submodule "songloft-player"]
	path = songloft-player
	url = https://github.com/songloft-org/songloft-player.git
[submodule "plugin-toolchain"]
	path = plugin-toolchain
	url = https://github.com/songloft-org/plugin-toolchain.git
[submodule "jsplugins-src/jsplugin-musicsdk"]
	path = jsplugins-src/jsplugin-musicsdk
	url = https://github.com/songloft-org/jsplugin-musicsdk.git
[submodule "jsplugins-src/songloft-plugin-miot"]
	path = jsplugins-src/songloft-plugin-miot
	url = https://github.com/songloft-org/songloft-plugin-miot.git
[submodule "ffmpeg-builder"]
	path = ffmpeg-builder
	url = https://github.com/hanxi/ffmpeg-builder.git
